@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik&display=swap");
/**************FOR MOBILE***************/
@media only screen and (max-width: 440px) {
  body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #E3EEF8;
  }
  .Hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  /******LOGO SUPERPOSE******/
  #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 35px;
    top: 10px;
    bottom: 99.74%;
  }
  .fa-solid {
    color: #258AFF;
  }
  .shades {
    padding-left: 5px;
    position: absolute;
    font-family: arial;
    height: 14px;
    left: 14px;
    font-size: 20px;
    line-height: 14px;
    letter-spacing: -1px;
    color: #1F1F1F;
  }
  /*****HAMBURGER****/
  #Hamburger {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 20px;
    padding-top: 6px;
    display: inline-block;
    cursor: pointer;
    right: 35px;
  }
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #258AFF;
    margin: 3px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  /*********Paragraphe et Titre************/
  #paraAndTitle {
    padding-top: 75px;
    text-align: center;
  }
  #paraAndTitle p {
    font-family: 'Karla';
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #666666;
  }
  h1 {
    margin-right: 30px;
    margin-left: 30px;
  }
  input {
    Width: 133,14px;
    Height: 28px;
    background: #FFFFFF;
    border-radius: 3px;
  }
  button {
    Width: 133,14px;
    Height: 35px;
    background: #FC593B;
    border-radius: 5px;
    color: white;
  }
  /*********FEATURES*********/
  .Features h2 {
    margin-left: 30px;
  }
  .Features p {
    text-align: center;
    color: #666666;
  }
  /*********CONTENT1*************/
  #content1 {
    color: #FFFFFF;
  }
  .phone {
    position: relative;
    z-index: 2;
  }
  .reste {
    position: relative;
    background-color: #258AFF;
    z-index: 1;
    height: 630px;
    bottom: 22rem;
  }
  .reste h3 {
    text-align: left;
    margin-left: 30px;
    padding-top: 300px;
  }
  .reste h2 {
    margin-left: 30px;
  }
  .reste p {
    margin-left: 30px;
  }
  .reste button {
    margin-left: 30px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #258AFF;
    width: 181px;
    height: 30px;
  }
  /***********CONTENT2**************/
  #content2 {
    text-align: center;
  }
  #content2 img {
    background: #258AFF;
    border: solid 4px #258AFF;
  }
}
/*# sourceMappingURL=style.css.map */